In [272]:
import pandas as pd

In [273]:
#Import data file
election_path = "election_data.csv"

In [274]:
#Read in CSV file
election_df = pd.read_csv(election_path, encoding="utf-8")

In [275]:
#Test above statement
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [276]:
#Get the total number of votes cast
Voter_ID = len(election_df["Voter ID"].unique())
Voter_ID

3521001

In [287]:
# Names of candidates with votes
Candidates = election_df["Candidate"].unique()
Candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [327]:
#Candidates by 5 of votes cast
Percent_of_Votes = round((votes/Voter_ID)*100)
print (Percent_of_Votes)

Khan        63.0
Correy      20.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [326]:
# Create data file containing candidate and total number and percent of votes
Election_Results = pd.DataFrame(
{"Candidate": ["Khan", "Corry", "Li", "O'Tooley"],
"Votes": votes,
"Percent of Votes":Percent_of_Votes
})
Election_Results

         Candidate    Votes  Percent of Votes
Khan          Khan  2218231              63.0
Correy       Corry   704200              20.0
Li              Li   492940              14.0
O'Tooley  O'Tooley   105630               3.0

In [309]:
#The winner of the election based on popular vote.
Winner = Election_Results["Votes"].max()
print (Election_Results.loc[Election_Results["Votes"]== Winner])

     Candidate    Votes
Khan      Khan  2218231

In [329]:
#Print results
print ("Election Results")
print ("________________________________________________")
print ("")
print (f"Total Votes: {(Voter_ID)}")
print ("________________________________________________")
print ("")
print ("Votes by candidates:")
print (Election_Results)
print ("________________________________________________")
print ("")
print ("Winner:")
print (Election_Results.loc[Election_Results["Votes"]== Winner])

Election Results
________________________________________________

Total Votes: 3521001
________________________________________________

Votes by candidates:
         Candidate    Votes  Percent of Votes
Khan          Khan  2218231              63.0
Correy       Corry   704200              20.0
Li              Li   492940              14.0
O'Tooley  O'Tooley   105630               3.0
________________________________________________

Winner:
     Candidate    Votes  Percent of Votes
Khan      Khan  2218231              63.0

In [ ]:
# Output Files

with open(file_to_output, "w") as txt_file: