In [2]:
import pandas as pd

In [3]:
#Import data file
finances_path = "PyBank_Budget_Data.csv"

In [4]:
#Read in CSV file
finances_df = pd.read_csv(finances_path, encoding="utf-8")

In [5]:
#Test above statement
finances_df.head()

     Date  Profit/Losses
0  Jan-10         867884
1  Feb-10         984655
2  Mar-10         322013
3  Apr-10         -69417
4  May-10         310503

In [6]:
# Calculatet the total number of months included in the dataset
Date_count = len(finances_df["Date"].unique())
Date_count

86

In [7]:
#Calculate the net total amount of "Profit/Losses" over the entire period
Total = finances_df["Profit/Losses"].sum()
print ("$", Total)

$ 38382578

In [8]:
# Difference in profit or loss by row
Difference = finances_df ["Profit/Losses"].diff(+1)
#Add column "Difference" to dataframe
finances_df["Difference"] = Difference

finances_df.head()

     Date  Profit/Losses  Difference
0  Jan-10         867884         NaN
1  Feb-10         984655    116771.0
2  Mar-10         322013   -662642.0
3  Apr-10         -69417   -391430.0
4  May-10         310503    379920.0

In [9]:
#Calculate average change
Average_Change = finances_df["Difference"].mean()
Average_Change = round(int(Average_Change))
print ("$", Average_Change)

$ -2315

In [29]:
#The greatest increase in profits (date and amount) over the entire period
Greatest_Increase = finances_df["Difference"].max()
Greatest_Increase = round(int(Greatest_Increase))
print("$", Greatest_Increase, finances_df.loc[finances_df["Difference"]== 1926159, "Date"].values[0])

$ 1926159 Feb-12

In [20]:
#The greatest decrease in profits (date and amount) over the entire period
Greatest_Decrease = finances_df["Difference"].min()
Greatest_Decrease = round(int(Greatest_Decrease))
print("$", Greatest_Decrease, finances_df.loc[finances_df["Difference"]== -2196167, "Date"].values[0])

$ -2196167 Sep-13

In [32]:
# Print results
print("Financial Analysis")
print("________________________________________________")
print("")
print(f"Total Months: {(Date_count)}")
print(f"Total: ${(Total)}")
print(f"Average Change: ${(Average_Change)}")
print("Greatest Increase: $", Greatest_Increase, "Month: ",finances_df.loc[finances_df["Difference"]== 1926159, "Date"].values[0])
print("Greatest Decrease: $", Greatest_Decrease, "Month : ",finances_df.loc[finances_df["Difference"]== -2196167, "Date"].values[0])

Financial Analysis
________________________________________________

Total Months: 86
Total: $38382578
Average Change: $-2315
Greatest Increase: $ 1926159 Month:  Feb-12
Greatest Decrease: $ -2196167 Month :  Sep-13

In [43]:
#Output to text file
output = open("output.txt", "w")
Line1 = "Financial Analysis"
Line2 = (f"Total Months: {(Date_count)}")
Line3 = (f"Total: ${(Total)}")
Line4 = (f"Average Change: ${(Average_Change)}")
Line5 = ("Greatest Increase: $", Greatest_Increase, "Month: ",finances_df.loc[finances_df["Difference"]== 1926159, "Date"].values[0])
Line6 = ("Greatest Decrease: $", Greatest_Decrease, "Month : ",finances_df.loc[finances_df["Difference"]== -2196167, "Date"].values[0])
output()

TypeError: '_io.TextIOWrapper' object is not callable